html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin : 0;
}

* {
  box-sizing: border-box;
}

.menu-section {
  background: #fff;
}

.navbar-brand img {
  max-width: 150px;
}

.navbar-nav .nav-item .color-blue {
  color     : #007cc3 !important;
  background: none;
}

.sticky {
  position  : fixed;
  width     : 100%;
  left      : 0;
  top       : 0;
  z-index   : 100;
  border-top: 0;
}

/* ul.navbar-nav li.searchbar a {
  padding      : 0;
  width        : 30px;
  height       : 30px;
  background   : #cfeaf4;
  text-align   : center;
  border-radius: 30px;
  border       : solid 1px #007cc3;
} */

/* ul.navbar-nav li.searchbar i {
  margin-top : 6px;
  position   : relative;
  margin-left: -1px;
} */



.getintouch a {
  border-bottom: none !important;
}

.navbar-nav .nav-item .font-size-14 {
  color      : black;
  font-size  : 14px;
  font-weight: 500;
}

.navbar-nav .nav-item .nav-link:link {
  text-decoration: none;
}

.navbar-nav .nav-link,
.digital-section .digital-four a {
  border       : solid 3px transparent;
  border-radius: 4px;
}

.navbar-nav .nav-link:hover,
.digital-section .digital-four a:hover {

  border-bottom: solid 3px #fe4902;
  /* width     : 88px;
  position     : absolute;
  bottom       : 0;
  height       : 4px;
  background   : #fe4902;
  overflow     : hidden; */
}

.item img {
  max-width: 100% !important;
}

.item {
  position: relative;
}

.text-on-image {
  position: absolute;
  width   : 100%;
  height  : 100%;
  top     : 0;
  left    : 0;
}

.h1-style {
  font-size  : 23px;
  font-weight: 700;
}

.color-white {
  color: #fff;
}

.bg-dark-light {
  background   : #fe4902;
  color        : #fff;
  border       : none;
  border-radius: 20px;
}

.button-div i {
  font-size   : 13px;
  font-weight : 400;
  padding-left: 2px;
}

.play-button {
  background   : #fe4902;
  color        : #fff;
  border       : none;
  border-radius: 40px;
  width        : 35px;
  height       : 35px;
  display      : block;
}

.font-color-black {
  color: #000;
}

.bannerr-carousell .owl-dots {
  position: absolute;
  bottom  : 0;
  left    : 50%;
}

.bannerr-carousell .owl-dots .owl-dot.active span {
  background: #f47721 !important;
}

.bannerr-carousell .owl-dots .owl-dot span {
  width     : 20px;
  height    : 5px;
  background: #d9e0ec;
}

.digital-section .digital-four {
  border-bottom: solid 1px #dee2e3;
}

.digital-section .digital-four a {
  color          : #4b656f;
  text-decoration: none;
  border-radius  : 4px;
}

.digital-four a:hover {
  border-bottom: solid 3px #fe4902 !important;
  border-radius: 4px;
}

.bb {
  border-top   : none !important;
  border-left  : none !important;
  border-right : none !important;
  border-bottom: solid 1px #dee2e3 !important;
}

.nav-tabs {
  border-bottom: solid 1px #dee2e3 !important;
}

.four-box-container {
  background   : white;
  box-shadow   : 0px 0px 19px 6px #eae9e8;
  border-radius: 6px;
  border       : 2px solid #eae9e8;
}

.four-box-container .icon-box i {
  color    : #fd4f00;
  font-size: 34px;
}

.four-boxs-content {
  color           : #556d77;
  /* margin-right : 16px; */
  font-size       : 14px;
  border-bottom   : solid 0.3px #d0d1d1;
}

.four-box-learn .fa-long-arrow-right {
  color    : #b3b8b8;
  font-size: 20px;
}

.four-box-learn a {
  font-weight: 600;
}

.bdr-blue {
  border        : solid 1px #007cc3;
  border-radius : 50px;
  width         : 10%;
  height        : 10%;
  text-align    : center;
  padding-left  : 2px;
  padding-bottom: 2px;
}

.four-box-col-24 {
  margin-bottom: 22px;
}

.button-check button {
  width        : 150px;
  height       : 50px;
  background   : white;
  border       : solid 2px #fe4902;
  border-radius: 30px;
  font-weight  : 600;
  color        : #fe4902;
}

.driving-section {
  background: #efefef;
}

.driving-border,
.ai-border {
  width : 84px;
  border: solid 3px #fe4902;
}

.ai-border-sm {
  width : 34px;
  border: solid 2px #fe4902;
}

.driving-heading h1 {
  font-size: 35px;
}

.driving-content p {
  color: #526974;
}

.ai-heading h2 {
  font-weight: 700;
}

.ai-col {
  padding      : 7px;
  border       : 2px solid #eae9e8;
  border-radius: 8px;
  background   : white;
  margin-bottom: 22px;
}

.ai-col:hover {
  box-shadow: 0px 0px 19px 6px #eae9e8;
}



.ai-four-content {
  font-size    : 13px;
  color        : #526974;
  font-weight  : 700;
  border-bottom: solid 1px #dee2e3;
}

.ai-box-learn a {
  font-size  : 13px;
  font-weight: 700;
}

.pb-21 {
  padding-bottom: 20px;
}

.pb-37 {
  padding-bottom: 37px;
}

.pb-53 {
  padding-bottom: 53px;
}

.news-section {
  background-image: linear-gradient(to right, #192e72, #dc3c00);

}

.news-container,
.events {
  background   : rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.news {
  color    : rgba(255, 255, 255, 0.9);
  font-size: 14px;
}

.news-boxs {
  border-radius: 5px;
}

.news-date {
  color      : #526974;
  font-size  : 11px;
  font-weight: 500;
}

.news-content {
  font-size  : 11px;
  font-weight: 700;
}

.button-white button {
  width        : 150px;
  height       : 40px;
  border       : solid 2px white;
  border-radius: 30px;
  font-weight  : 600;
  color        : white;
  background   : rgba(255, 255, 255, 0.0);
}

.event-img img {
  border-radius: 3px;
}

.event-date {
  color      : #dc3c00;
  font-size  : 11px;
  font-weight: 500;
}

.event-heading h6 {
  font-weight: 700;
}

.event-content p {
  color: #526974;
}

.map-container p {
  color      : #405057;
  font-weight: 600;
}

.client-img {
  position: relative;
}

.client-video-button {
  position: absolute;
  top     : 50%;
  left    : 45%;
}

.client-video-button-2 {
  position: absolute;
  top     : 20%;
  left    : 45%;
}

.bdr {
  border       : 2px solid #eae9e8;
  border-radius: 5px;
}

.client-play-button {
  background   : #fe4902;
  color        : #fff;
  border       : none;
  border-radius: 40px;
  width        : 60px;
  height       : 60px;
}

.client-play-button-2 {
  background   : white;
  color        : #fe4902;
  border       : none;
  border-radius: 40px;
  width        : 40px;
  height       : 40px;
}

.client-section .client-play-button .fa-play {
  font-size: 22px;
}

.client-content p {
  font-size  : 13px;
  font-weight: 700;
}

footer {
  background: #0d232b;
}

footer .footer-logo img {
  max-width: 150px;
}

.footer-logo-container {
  border-bottom: solid 0.2px #2a434d;
}

.bannerr-carousell .owl-dots {
  position: absolute;
  bottom  : 0;
  left    : 38%;
}

footer .span-h {
  font-size: 11px;
}

footer .footer-text {
  color       : #6d7e84;
  font-size   : 12px;
  word-spacing: 2px;
}

.icons a {
  color       : #6d7e84;
  font-size   : 20px;
  margin-right: 18px;
}

.digital-section .digital-four a[aria-selected="true"],
.menu-section .navbar-nav a[aria-selected="true"] {
  border-bottom: solid 3px #fe4902 !important;
}

.home-about-section .home-about-contaner a {
  color          : #4b656f;
  text-decoration: none;
}

.home-about-section .home-about-contaner i {
  font-size: 12px;
}

.about-first-section {
  background: #f7f7f7;
}

.about-first-section .img-container img {
  border-radius: 8px;
}

.clr-org {
  color: #fe4902;
}

.about-number-section h1 {
  font-size: 45px;
}

.bound {
  background         : url(../images/bg.jpg) no-repeat center;
  -ms-background-size: cover;
  background-size    : cover;
  z-index            : 0;
  position           : relative;
  display            : grid;
  align-items        : center;
}

.bound:before {
  content   : "";
  background: rgba(0, 0, 0, 0.6);
  position  : absolute;
  top       : 0;
  bottom    : 0;
  left      : 0;
  right     : 0;
  z-index   : -1;
}

.bound-content span .fa {
  font-size    : 25px;
  background   : rgba(0, 0, 0, 0.3);
  width        : 80px;
  height       : 80px;
  text-align   : center;
  border-radius: 50px;
  line-height  : 80px;
}

.team-section img {
  border-radius: 8px;
}

.home-contact-section .home-contact-contaner a {
  color          : #4b656f;
  text-decoration: none;
}

.home-contact-section .home-contact-contaner i {
  font-size: 12px;
}

.contact-right .address i {
  font-size      : 20px;
  color          : #fe4902;
  float          : left;
  width          : 44px;
  height         : 44px;
  background     : rgba(0, 0, 0, 0.3);
  display        : flex;
  justify-content: center;
  align-items    : center;
  border-radius  : 50px;
  transition     : all 0.3s ease-in-out;
}

.icofont-google-map:before {
  content: "\ed42";
}

.form-row {
  display     : flex;
  flex-wrap   : wrap;
  margin-right: -5px;
  margin-left : -5px;
}

.form-control {
  display         : block;
  width           : 100%;
  height          : calc(1.5em + .75rem + 2px);
  padding         : .375rem .75rem;
  font-size       : 1rem;
  font-weight     : 400;
  line-height     : 1.5;
  color           : #495057;
  background-color: #fff;
  background-clip : padding-box;
  border          : 1px solid #ced4da;
  border-radius   : .25rem;
  transition      : border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.services-first-section {
  background: #f7f7f7;
}

.services-content p {
  color: #526974;
}

.fa-check {
  font-size : 18px;
  margin-top: 4px;
}

.services-right img {
  border-radius: 8px;
}

.our-services-header h6 {
  color: #7e7d7d;
}

.our-services .our-services-boxs .bg {
  background   : #f6f6f6;
  border-radius: 8px;
  padding      : 50px 35px;
}

.our-services .our-services-boxs .bg .our-icon i {
  font-size: 30px;
}

.our-content p {
  font-size: 18px;
}

.still-have-section {
  background           : url(../images/bg1.jpg) no-repeat top;
  background-attachment: fixed;
  background-size      : cover;
  position             : relative;
  z-index              : 1;
}

.still-have-section:before {
  content   : "";
  background: rgba(0, 0, 0, 0.55);
  position  : absolute;
  top       : 0;
  min-height: 100%;
  left      : 0;
  right     : 0;
  z-index   : -1;
}

/* .address-section, */
.accounts-section {
  background: #f7f7f7;
}

.account-sub-col h6 {
  color: #0e5b9e;
}

.address-section {
  background           : url(../images/visual-page-dice-1.jpg) no-repeat top;
  background-attachment: fixed;
  background-size      : cover;
  position             : relative;
  z-index              : 1;
}

.address-section::before {
  content   : "";
  background: rgba(0, 0, 0, 0.55);
  position  : absolute;
  top       : 0;
  min-height: 100%;
  left      : 0;
  right     : 0;
  z-index   : -1;
}

.account-container,
.deposit-container,
.br-8 {
  border-radius: 8px;
}

.account-content {
  color        : #556d77;
  font-size    : 14px;
  border-bottom: solid 0.3px #d0d1d1;
}

.deposit-container,
.test-section {
  background: #f7f7f7;

}

.card-content {
  color: #556d77;
}

.test-heading h6 {
  color      : #7e7d67;
  font-size  : 14px;
  font-weight: 600;
}

.test-heading h3 {
  font-size  : 38px;
  line-height: 48px;
  font-weight: 600;
}


.fa-quote-left {
  font-size  : 28px;
  font-weight: 600;
}

.test-content p {
  font-size  : 20px;
  line-height: 36px;
  color      : #8c8e97;
}

.testi-des {
  text-align     : left;
  margin-top     : 35px;
  display        : grid;
  grid-auto-flow : column;
  grid-gap       : 20px;
  justify-content: center;
}

.testi-img {
  width        : 90px;
  height       : 90px;
  display      : inline-block;
  overflow     : hidden;
  background   : var(--bg-color);
  border-radius: 50%;
}

.peopl h3 {
  margin       : 0;
  font-weight  : 600;
  font-size    : 22px;
  margin-bottom: 5px;
}

p.identity {
  color        : var(--font-color);
  font-size    : 18px;
  font-style   : normal;
  margin-bottom: 0;
  opacity      : 0.8;
}

.bannerr-carousell .owl-dots {
  position      : absolute;
  bottom        : 0;
  left          : 45% !important;
  padding-bottom: 0;
}

.awards-agileinfo {
  background     : url(../images/canves.jpg)no-repeat 0px 0px;
  background-size: cover;
}

/* .form-section {
  background: #bb4719;
} */

.contact-icons {
  background   : #4d4d4f;
  text-align   : left;
  border-radius: 8px 8px 0 0;
}

.us {
  width        : 30px;
  border-bottom: 3px solid #bb4719;
  margin-right : 68px;

}

.icon-1 {
  font-size: 8px;

}

.icon-2 {
  font-size: 8px;
  color    : yellow;
}

.icon-3 {
  font-size: 8px;
  color    : yellowgreen;
}

.contact-form input,
.contact-form textarea {
  background   : #343a40;
  border-bottom: 1px solid #666666;
  border-top   : none;
  border-left  : none;
  border-right : none;
  border-radius: 0;
}

.fa-ellipsis-h {
  color: #979493;
}

.cn-info p,
.cn-info a {
  font-size: 11px;
  color    : #979493;
}

.modal-button {
  font-size    : 13px;
  width        : 130px;
  height       : 45px;
  background   : white;
  border       : solid 2px #fe4902;
  border-radius: 30px;
  font-weight  : 600;
  color        : #fe4902;
}

.modal-dialog-centered .modal-content {
  background: #808080;
}

.modal-header,
.modal-footer {
  border: none;
}


.modal-dialog-centered .modal-content {
  background: black;
}

.modal-footer button {
  background: none;
}

.border-b {
  border-bottom: 3px solid chocolate;
}

.bar-block {
  width      : 105px;
  height     : 300px;
  /* overflow: hidden; */
  transition : all 1s ease-in-out;
}

.bar {
  width : 90px;
  height: 100%;
  float : left;
  border: solid 3px #fe4902;
}

.bar h4 {
  writing-mode    : vertical-rl;
  text-orientation: mixed;
  color           : lightslategrey;
  font-weight     : bold;
  margin          : 0px;
}

.detail-box {
  float     : left;
  width     : 5px;
  overflow  : hidden;
  height    : 100%;
  opacity   : 0;
  background: #efefef;
  transition: all 1s ease-in-out;
}

.bar-block:hover {
  width     : 800px;
  transition: all 1s ease-in-out;
}

.bar-block:hover .detail-box {
  width     : 700px;
  opacity   : 1;
  transition: all 1s ease-in-out;
}

.feature-services-section {
  background-size    : cover;
  background         : url(../images/bank.jpg) no-repeat;
  background-position: center;
  position           : relative;
  background-size    : cover;
  z-index            : 1;
}

.feature-services-section:after {
  content   : '';
  background: rgba(0, 0, 0, 0.7);
  position  : absolute;
  left      : 0;
  right     : 0;
  bottom    : 0;
  top       : 0;
  z-index   : -1;
}







.team-section .our-team .content {
  background      : rgba(0, 0, 0, 0.6);
  position        : absolute;
  height          : 100%;
  width           : 100%;
  left            : 0;
  top             : 0;
  text-align      : center;
  padding-top     : 45%;
  transform       : perspective(400px) rotateX(-90deg);
  transform-origin: center top 0;
  transition      : all 0.5s ease 0s;
  opacity         : 0;
}

.team-section .our-team .content .title {
  margin     : 0 0 10px;
  display    : block;
  font-size  : 25px;
  font-weight: 600;
  color      : #fff;
}

.team-section .our-team .content .post {
  margin   : 0 0 25px;
  display  : block;
  font-size: 18px;
}

.team-section .our-team .social {
  margin         : 0;
  padding        : 0;
  list-style-type: none;
}

.team-section .our-team .social li {
  display: inline-block;
}

.team-section .our-team .social li a {
  display            : block;
  /* color           : #fff; */
  font-size          : 20px;
  height             : 40px;
  width              : 40px;
  line-height        : 40px;
  border-radius      : 0;
  background-color   : var(--primary-color);
  margin-right       : 5px;
  transition         : all 0.5s ease 0s;
  position           : relative;
  border-radius      : 50%;
}

.team-section .our-team .social li a:hover {
  color: white;
}

.our-team:hover .content,
.our-team.active .content {
  opacity  : 1;
  transform: perspective(400px) rotateX(0deg);
}

.our-team .social li a:hover,
.our-team.active .social li a {
  border-radius  : 50%;
  text-decoration: none;
}

.modal-body .testi-des a.testi-img img {
  width        : 100%;
  height       : 100%;
  border-radius: 8px;
}


#return-to-top {
  z-index        : 999;
  position       : fixed;
  bottom         : 20px;
  right          : 20px;
  background     : rgb(0, 0, 0);
  background     : rgba(0, 0, 0, 0.7);
  width          : 50px;
  height         : 50px;
  display        : block;
  text-decoration: none;
  border-radius  : 35px;
  display        : none;
}

#return-to-top i {
  color    : #fe4902;
  margin   : 0;
  position : relative;
  left     : 16px;
  top      : 13px;
  font-size: 19px;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: white;
  top  : 5px;
}


@media (min-width:992px) {
  .text-on-image {
    position   : absolute;
    width      : 100%;
    height     : 100%;
    top        : 0;
    left       : 0;
    padding-top: 70px;
  }

  .modal-dialog {
    max-width: 70% !important;
  }

  .h1-style {
    font-size  : 50px;
    font-weight: 700;
  }

  /* .four-box-col-24 {
    width     : 23%;
    max-width : 23%;
    height    : 364px;
    max-height: 364px;
    margin-bottom: 0px;
  } */
  .ai-four-img img {
    border-radius   : 7px;
    /* width        : 242px;
    max-width       : 242px; */
    height          : 127px;
    max-height      : 127px;
  }

  .ai-col {
    padding         : 7px;
    /* width        : 24%;
    max-width       : 24%;
    height          : 300px;
    max-height      : 300px; */
    border          : 2px solid #eae9e8;
    border-radius   : 8px;
    background      : white;
  }

  .getintouch {
    margin-left: 100px;
  }

  .bannerr-carousell .owl-dots {
    position: absolute;
    bottom  : 0;
    left    : 50%;
  }

  .bannerr-carousell .owl-dots {
    padding-bottom: 20px;
  }

  .padding-t {
    padding-top: 19px;
  }

  .line-height {
    line-height: 25px;
  }
}

@media (max-width:658px) {
  .modal-dialog {
    width: 100%;
  }

  .bannerr-carousell .owl-dots {
    padding-bottom: 0;
  }

  .h1-style {
    font-size: 18px !important;
  }
}


.header-search-wrapper {
  float   : right;
  position: relative;
}

.search-main {
  display    : block;
  line-height: 40px;
  padding    : 0 14px;
  cursor     : pointer;
  color      : #007cc3;
}

.header-search-wrapper .search-form-main {
  background        : #fff none repeat scroll 0 0;
  -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, .15);
  box-shadow        : 1px 1px 7px rgba(0, 0, 0, .15);
  border-top        : 2px solid #408c40;
  padding           : 13px 13px 0 16px;
  position          : absolute;
  right             : 0;
  top               : 124%;
  width             : 248px;
  z-index           : 9999;
  opacity           : 0;
  visibility        : hidden;
}

.search-form-main.active-search {
  opacity   : 1;
  visibility: visible;
}

.header-search-wrapper .search-form-main {
  border-top-color: #fe4902 !important;
  background      : #f8f9fa;
}

.header-search-wrapper .search-form-main:before {
  border-left  : 10px solid transparent;
  border-right : 10px solid transparent;
  border-bottom: 10px solid #408c40;
  content      : "";
  position     : absolute;
  right        : 15px;
  top          : -10px;
}

.header-search-wrapper .search-form-main:before {
  border-bottom-color: #fe4902 !important;
}

.header-search-wrapper .search-form-main .search-field {
  border-radius   : 10px 0px 0px 10px;
  padding         : 4px 10px;
  width           : 84%;
  border          : none;
  background-image: linear-gradient(to right, #192e72, #dc3c00);
  float           : left;
}

.search-form-main .search-submit {
  border-radius     : 0px 10px 10px 0px;
  -webkit-box-shadow: none;
  box-shadow        : none;
  color             : #192e72;
  margin-left       : -5px;
  background        : #dc3c00;
  float             : left;
  width             : 18%;
  height            : 32px;
}



/* owl-carousel */
.bannerr-carousell .owl-prev,
.bannerr-carousell .owl-next {
  position     : absolute;
  top          : 50%;
  transform    : translateY(-50%);
  width        : 48px;
  height       : 48px;
  border-radius: 50px !important;
  background   : #f4f4f4 !important;

}

.bannerr-carousell .owl-prev img,
.bannerr-carousell .owl-next img {
  width : 22px;
  height: 22px;
}

.bannerr-carousell .owl-prev {
  left: 0;
}

.bannerr-carousell .owl-next {
  right: 0;
}

.about-number-section .icon i {
  font-size     : 27px;
  padding-bottom: 13px;
}



/* nav */
.box-sw:hover {
  box-shadow: 0px 0px 19px 6px #eae9e8;
}

.box-pr {
  box-shadow: 0px 0px 19px 6px #eae9e8;
}


.navbar-toggler[aria-expanded="true"] {
  border: none;
  content: "f00d";
  font-family: Font Awesome;
}

.collapsed  span{
  display: none;
}

/* .navbar-toggler[aria-expanded="false"] span {
  display: block;
} */
.collapsed  i{
  display: block;
}
.collapsed span{
  display: none;
}
.menu-section .navbar .show li {
  text-align: center;
}

.menu-section .navbar .show li a {
  display      : inline;
  margin-bottom: 5px;
  line-height  : 58px;
  font-size    : 25px;
}
.menu-section .navbar .show .header-search-wrapper{
  text-align: center;
}
.show {
  /* height: 100vh; */
  padding: 78px 0;
}

@media (max-width:768px) {
  .padding-md {
    padding   : 61px 35px !important;
    margin-top: 18px;
  }

  .bannerr-carousell .owl-dots {
    padding-bottom: 20px;
  }

  .line-height {
    line-height: 30px !important;
  }

  .line-height-23 {
    line-height: 23px;
  }
}

@media (max-width:1024px) {
  .padding-37 {
    padding: 37px 35px !important;
  }

  .padding-40 {
    padding: 40px 35px !important;
  }

  .padding-t {
    padding-top: 0;
  }

  .line-height {
    line-height: 20px;
  }
}